services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: skin_ai_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: skin_ai_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/venv:/app/venv
      - ./media:/app/media
    environment:
      - DJANGO_SETTINGS_MODULE=skin_ai.settings
      - DEBUG=True
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    restart: unless-stopped
    depends_on:
      - frontend
